.layout-wrapper {
    height: 100%;

    .mat-drawer {
        border-radius: 0 !important;
        border-right: 1px solid var(--border-color);
        width: 300px;
    }

    .mat-drawer-container {
        height: 100%;
    }

}


.main {
    width: 100%;
    height: 100%;

    .container {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }
}