@use '@angular/material' as mat;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8fafc;
  font-family: 'Inter', sans-serif;
  color: #0f172a;
}

html {
  @include mat.theme((color: (primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      density: 0,
    ));
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.h-main {
  font-size: 3em;
}

.gap-1 {
  gap: 1em;
}

.gap-2 {
  gap: 2em;
}

.gap-3 {
  gap: 3em;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1em;
}

.text-center {
  text-align: center;
}

.br-bx {
  box-sizing: border-box;
}

:root {
  --primary-color: #006a6a;
  --primary-hover: #005050;
  --bg-main: #f1f5f9; 
  --bg-card: #ffffff;
  --text-main: #1e293b;
  --text-muted: #64748b;
  --border-color: #e2e8f0;
}