.sidenav {
    height: 100%;

    &_header {
        justify-content: flex-end;
        padding: 8px;
    }

    &_menu {
        flex: 1;

        a {
            border-radius: 0 !important;
        }
    }


    &_footer {
        padding: 16px;

        .logout-btn {
            width: 100%;
            justify-content: flex-start;
            color: #d32f2f;
            margin-top: 8px;
            border-radius: 0;

            mat-icon {
                margin-right: 8px;
            }
        }
    }
}



.active-link {
    color: var(--primary-color) !important;
    background-color: rgba(0, 106, 106, 0.05);

    mat-icon {
        color: var(--primary-color);
    }
}

mat-icon[matListItemIcon] {
    margin-right: 16px;
}