.auth-page {
    height: 100%;

    &__container {
        width: 90%;
        max-width: 540px;
        padding: 1em;
        border-radius: 15px;
        border: 1px solid var(--border-color);

        .auth-form {
            display: flex;
            flex-direction: column;
            gap: 1em;

        }
    }
}