.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__container {
        width: 90%;
        max-width: 540px;
        padding: 1em;
        border-radius: 15px;
        border: 1px solid #53535353;

        .auth-form {
            display: flex;
            flex-direction: column;
            gap: 1em;

        }
    }
}